body {
  background-color: #fffedd;
  margin: 0;
}
.container {
  width: 600px;
}
#auth {
  width: 600px;
  margin: 5px;
}
table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

table {
  table-layout: fixed;
  width: 600px;
  border-collapse: collapse;
}
td {
  padding: 4px;
}
.prTableHeader {
  font-weight: bold;
}
.repoWarn {
  font-weight: bold;
  padding-bottom: 4px;
}
.theRest {
  padding: 10px;
}
.repoColumn {
  width: 20%;
}
.theirPrTitleColumn {
  width: 60%;
}
.myPrTitleColumn {
  width: 64%;
}
.footnotes {
  font-size: smaller;
}