body {
  background-color: #fffff0;
  margin: 0;
}
.container {
  width: 600px;
}
#auth {
  width: 600px;
  margin: 5px;
}
table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: #ababab;
}

table {
  table-layout: fixed;
  width: 600px;
  border-collapse: collapse;
}
td {
  padding: 4px;
}
.prTableHeader {
  font-weight: bold;
  background-color: #fbf8d7;
}
.repoWarn {
  font-weight: bold;
  padding-bottom: 4px;
}
.repoColumn {
  width: 20%;
  word-wrap:break-word;
}
.notMyTurnColumn {
  width: 42px;
}
.theirPrTitleColumn {
  width: 60%;
}
.myPrTitleColumn {
  width: 60%;
}
.userColumn {
  width: 10%;
  word-wrap:break-word;
}
.commentColumn {
  word-wrap:break-word;
}
.commentsTableIgnoredForColumn {
  width:50px;
}
.prColumn {
  word-wrap:break-word;
}

.footnotes {
  font-size: smaller;
}